@use "styles/abstracts/variables" as v;
@use "styles/abstracts/functions" as f;
@use "styles/abstracts/mixins" as m;

.workshop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$primary-900;
  overflow-x: clip;
  &Container {
    max-width: 1440px;
    width: 1440px;
    padding: f.rem(140) f.rem(80) 0 f.rem(80);
    position: relative;

    @media (max-width: 768px) {
      padding: f.rem(40) f.rem(16) 0 f.rem(16);
    }
  }

  &Title {
    color: v.$base-white;
    margin-bottom: f.rem(16);
    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
  &Subtitle {
    color: v.$gray-100;
    margin-bottom: f.rem(32);
  }

  ol {
    list-style-type: decimal !important;
  }
}
