@use "styles/abstracts/variables" as v;
@use "styles/abstracts/functions" as f;
@use "styles/abstracts/mixins" as m;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$primary-500;
  overflow-x: clip;
  .heroContainer {
    max-width: 1440px;
    width: 1440px;
    padding: f.rem(136) f.rem(80) f.rem(306) f.rem(80);
    position: relative;
    border: 1px solid red;

    @media (max-width: 768px) {
      padding: f.rem(50) f.rem(16) f.rem(0) f.rem(16);
    }

    @media (min-width: 1540) {
      padding: f.rem(136) 0 f.rem(306) 0;
    }
  }

  .heroTitle {
    font-family: Futura-bold !important;
    margin-bottom: f.rem(16);
    color: v.$secondary-600;
    font-size: 100px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 100%;
    text-transform: uppercase;

    span {
      color: v.$base-white;
    }
  }

  .heroSubtitle {
    margin-bottom: f.rem(32);
  }

  .heroButtons {
    display: flex;
    align-items: center;
    gap: f.rem(16);
  }
  .heroImg {
    position: absolute;
    top: 100px;
    right: 0px;

    @media (max-width: 768px) {
      position: relative;
      top: 0;
      right: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
