@use "styles/abstracts/variables" as v;
@use "styles/abstracts/functions" as f;
@use "styles/abstracts/mixins" as m;

.whyUs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$base-white;
  overflow-x: clip;
  z-index: 20;
  position: relative;
  &Container {
    max-width: 1440px;
    width: 1440px;
    padding: f.rem(64) f.rem(80) f.rem(120) f.rem(80);
    position: relative;
    z-index: 10;
    @media (max-width: 768px) {
      padding: f.rem(40) f.rem(16) f.rem(120) f.rem(16);
    }
  }

  &Title {
    color: v.$primary-600;
    margin-bottom: f.rem(16);
    text-align: center;

    span {
      color: v.$secondary-500;
    }

    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
  &Subtitle {
    color: v.$gray-500;
    margin-bottom: f.rem(40);
    text-align: center;
  }
}
