@use "styles/abstracts/variables" as v;
@use "styles/abstracts/functions" as f;
@use "styles/abstracts/mixins" as m;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$primary-500;
  overflow-x: clip;
  position: fixed;
  width: 100%;
  z-index: 999;
  .headerContainer {
    max-width: 1440px;
    width: 1440px;
    padding: f.rem(16) f.rem(80) f.rem(16) f.rem(80);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      padding: f.rem(40) f.rem(16) f.rem(40) f.rem(16);
    }
  }
}
