@use "styles/abstracts/variables" as v;
@use "styles/abstracts/functions" as f;
@use "styles/abstracts/mixins" as m;

.leadershipTips {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$primary-500;
  overflow: clip;
  height: 535px;
  position: sticky;
  top: 100px;
  z-index: 1;

  @media (max-width: 768px) {
    height: auto;
  }
  &Container {
    max-width: 1440px;
    width: 1440px;
    padding: f.rem(64) f.rem(80) f.rem(120) f.rem(80);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // z-index: 1000;

    @media (max-width: 768px) {
      padding: f.rem(40) f.rem(16) f.rem(120) f.rem(16);
      flex-direction: column;
    }
  }

  &Title {
    color: v.$secondary-500;
    margin-bottom: f.rem(16);
    width: 661px;

    span {
      color: v.$base-white;
    }

    @media (max-width: 768px) {
      font-size: 28px;
      width: 100%;
    }
  }
  &Subtitle {
    color: v.$base-white;
    margin-bottom: f.rem(32);
  }
}
