@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Slick Carousel Styles */
.slick-list {
  overflow: visible !important;
}

.slick-slide {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.slick-current {
  opacity: 1;
}

/* Optional: Add additional styles for slick-arrow if necessary */
.slick-prev,
.slick-next {
  z-index: 10;
}

/* Optional: If you're using centerMode, you can adjust centered slides */
.slick-center .slick-slide {
  opacity: 1;
}

/* You can also add styles to target the dots if needed */
.slick-dots {
  bottom: -30px;
}
.slick-list {
  text-align: left;
  margin-left: 0;
}

.slick-track {
  margin-left: 0 !important;
  justify-content: flex-start;
}

.slick-dots {
  bottom: -30px;
  left: 20px;
  text-align: left;
}

.slick-dots li button:before {
  font-size: 16px;
  color: blue;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: red;
}

.slick-disabled {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

.slick-dots {
  bottom: -30px;
  left: 20px;
  text-align: left;
}

.slick-dots li button:before {
  font-size: 16px;
  color: var(--secondary-50);
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: var(--secondary-600);
}

.slick-disabled {
  opacity: 0.5;
}

.slick-next,
.slick-prev {
  width: 50px;
  height: 50px;
  z-index: 10;
  opacity: 1;
}

.slick-next::before,
.slick-prev::before {
  content: "";
  font-size: 24px;
  color: white;
  background-color: blue;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}

.slick-next::before {
  background-image: url(/vercel.svg);
}

.slick-prev::before {
  background-image: url(/vercel.svg);
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .slick-next,
  .slick-prev {
    right: 10px;
  }
}
