@use "styles/abstracts/variables" as v;
@use "styles/abstracts/functions" as f;
@use "styles/abstracts/mixins" as m;

.challenges {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$primary-900;
  overflow-x: clip;
  position: relative;
  .challengesContainer {
    max-width: 1440px;
    width: 1440px;
    padding: f.rem(120) f.rem(80) f.rem(120) f.rem(80);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: f.rem(48) !important;
    z-index: 10;

    @media (max-width: 768px) {
      padding: f.rem(40) f.rem(16) f.rem(40) f.rem(16);
    }
  }

  .challengesTitle {
    color: v.$base-white;

    @media (max-width: 768px) {
      font-size: 28px;
    }
  }

  .challengesSubtitle {
    color: v.$gray-500;
  }

  ul {
    list-style: disc;
    margin-left: 20px;
  }
}
